In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data_Latih = pd.read_excel('aalatih.xlsx')

In [3]:
df = pd.DataFrame(data_Latih)
selected_columns = ['Titik_1_PSI','Titik_2_PSI']  # Kolom yang ingin diambil
x = df[selected_columns]

out_cols = data_Latih['Lokasi_Kebocoran']
y = out_cols

In [4]:
x

    Titik_1_PSI  Titik_2_PSI
0         135.0         32.0
1         135.2         32.0
2         135.1         32.0
3         135.6         31.0
4         135.3         31.0
..          ...          ...
75         11.0          5.0
76         12.0         16.0
77         12.0         16.0
78         13.0         15.0
79         13.0         16.0

[80 rows x 2 columns]

In [5]:
y

0     23.2
1     23.2
2     23.2
3     23.2
4     23.2
      ...
75     0.0
76     0.0
77     0.0
78     0.0
79     0.0
Name: Lokasi_Kebocoran, Length: 80, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [8]:
x_train

    Titik_1_PSI  Titik_2_PSI
55        133.4      7.00000
17        133.9     20.00000
60        129.0     17.00000
62        127.0     32.00000
6         136.0     32.00000
56        132.0     20.00000
73         10.0     15.00000
4         135.3     31.00000
33         10.0     15.00000
53        133.9     20.00000
28        118.0     32.00000
11        133.4     19.64800
57        133.9     20.00000
23        129.0     32.00000
10        133.0     17.00000
31        118.0     23.00000
43        135.6     31.00000
61        128.0     23.00000
1         135.2     32.00000
32         10.0     15.00000
75         11.0      5.00000
14        134.0      7.00000
54        134.0      7.00000
19        133.4      7.00000
29        128.0     32.00000
49        133.8     16.43288
24        128.0     17.00000
35         11.0      5.00000
18        134.0      7.00000
0         135.0     32.00000
78         13.0     15.00000
15        133.4      7.00000
5         136.4     31.00000
59        133.4      7.00000
16        132.0     20.00000
51        133.4     19.64800
20        129.0     17.00000
74         11.0     16.00000
8         133.6     18.15952
13        133.9     20.00000
25        127.0     23.00000
37         12.0     16.00000
46        136.0     32.00000
39         13.0     16.00000
65        127.0     23.00000
58        134.0      7.00000
12        132.0     20.00000
70        125.0     17.00000
36         12.0     16.00000
21        128.0     23.00000
9         133.8     16.43288
76         12.0     16.00000
67        125.0     23.00000
64        128.0     17.00000
47        136.2     32.00000
44        135.3     31.00000

In [7]:
from sklearn.tree import DecisionTreeRegressor
Dc = DecisionTreeRegressor(max_depth=3, random_state=30) 
Dc.fit(x_train, y_train)
predictions_D3 = Dc.predict(x_test)
print(predictions_D3)

[23.09230769  4.63        4.63        0.         23.2         4.63
  8.69363636  4.63       23.09230769  8.69363636 23.2         8.69363636
 23.2         0.         23.09230769  0.         23.2         8.69363636
 23.2         8.69363636 23.2         0.         23.2         0.        ]

In [9]:
from sklearn.metrics import mean_absolute_error
mae_D3=mean_absolute_error(y_test,predictions_D3)
print('MAE:%f'%mae_D3, "%")
from sklearn.metrics import mean_squared_error
mse_D3 = mean_squared_error(y_test, predictions_D3)
print("MSE:", mse_D3, "%")
rmse_D3 = np.sqrt(mse_D3)
print("RMSE:", rmse_D3, "%")
acc_D3 = ((100 - mae_D3))
print("accuracy:", acc_D3, "%")

MAE:0.554639 %
MSE: 2.079225011410499 %
RMSE: 1.4419518062024468 %
accuracy: 99.4453613053613 %

In [10]:
import pickle

In [11]:
filename='Pred_lokasi11.sav'
pickle.dump(Dc,open(filename,'wb'))